# local package
-e .

# external requirements
click
Sphinx
coverage
python-dotenv>=0.5.1

# other requirements
mlflow~=2.8.0
dagshub~=0.3.8.post2
torch~=2.1.0
open_clip_torch
sentence_transformers
nltk~=3.8.1
Pillow~=10.1.0
tqdm~=4.66.1
setuptools~=65.5.0
pytest

# apis
pydantic
fastapi
uvicorn
python-multipart


#test requirements
deepchecks
great-expectations
pylint
pytest
flake8

# Monitoring
prometheus-client
prometheus-fastapi-instrumentator
